body 
{
background-image:url('/images/1.jpg');

}

.type2
{
margin-top:50px;
margin-right:175px;
margin-left:175px;
}

.type3
{
margin-top:50px;
margin-right:175px;
margin-left:175px;
}


.navbar-header
{
    
    height:40px;
}



